<template name="aboutText">
  <div class="container">
    <p class="flow-text">
    <img src="/img/profilepic.jpg" class="circle" height="150">
    My name is Keevan Dance and I am a Software Developer at CORE Construction. Here is where you can find me:
    <br>
    <br>
    email: <a>keevandance@gmail.com</a>
    <br>
    github: <a href="https://github.com/jkd65">jkd65</a>
    <br>
    site: <a href="http://keevan.dance">keevan.dance</a>
    <br>
    facebook: <a href="https://www.facebook.com/keevan.dance.9">Keevan Dance</a>
    </p>
  </div>

</template>
