<template name="faqQuestion">
  <div class="container">
    <h4>What is a <em>price earnings ratio</em>?</h4>
    <p class="flow-text">
      <a href="http://www.investopedia.com/ask/answers/070314/how-do-i-calculate-pe-ratio-company.asp">Investopedia</a> defines
      <em>price earnings ratio (P/E)</em> as a valuation measure that compares the level of stock prices to the level of corporate profits, providing
      investors with a sense of a stock's value.
    </p>
    <h4>What is the <em>earnings per share</em>?</h4>
    <p class="flow-text">
      <a href="http://www.investopedia.com/terms/e/eps.asp">Investopedia</a> defines
      <em>earnings per share (EPS)</em> as the portion of a company's profit allocated to each outstanding share of common stock.
      Earnings per share serves as an indicator of a company's profitability.
    </p>
  </div>
</template>
